@page "{id:int}"
@model Agenda_Web.Pages.Consulta.DeleteModel
@{
}
<head>
    <title>Excluir Consulta</title>
    <!-- Adicione os links para os arquivos CSS e JavaScript do Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
   
    <div class="container mt-5">
        <h1>Excluir Consulta</h1>
        <p>Tem certeza de que deseja excluir a consulta abaixo?</p>

        <dl class="row">
            <dt class="col-sm-2">ID:</dt>
            <dd class="col-sm-10">@Model.Consulta.IdConsulta</dd>

            <dt class="col-sm-2">Médico:</dt>
            <dd class="col-sm-10">@Model.Consulta.Medico.Nome</dd>

            <dt class="col-sm-2">Paciente:</dt>
            <dd class="col-sm-10">@Model.Consulta.Paciente.Nome</dd>

            <dt class="col-sm-2">Data e Hora:</dt>
            <dd class="col-sm-10">@Model.Consulta.DataHora</dd>

            <dt class="col-sm-2">Tipo de Consulta:</dt>
            <dd class="col-sm-10">@Model.Consulta.Tipo</dd>

            <dt class="col-sm-2">Observações:</dt>
            <dd class="col-sm-10">@Model.Consulta.Observações</dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Consulta.IdConsulta" />
            <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
            <a class="btn btn-secondary" asp-page="/Consulta/Index">Cancelar</a>
        </form>
    </div>
    
</body>
